<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/futuriste.css" />
    <title>Error pages</title>
  </head>
  <body>
    <div style="display: grid; height: 100vh; place-items: center">
      <div style="text-align: center">
        <h1 style="font-size: 30px; color: red">
          Google Gmail Authentication Failed,
        </h1>
        <h1>error message :{{msg}},</h1>
        <a href="{{domain}}/sender_list"
          >Go to Back Senders List</a
        >
      </div>
    </div>
  </body>
</html>
